{% extends "base.html" %}

{% block content %}
	<div class="container pt-4 px-5 pb-4 geral-bg">
		<h1 class="pb-4">Disposto em ajudar de alguma forma?</h1>
		<p class="lead">
			Junte-se a nós! Conheça as formas como você pode colaborar com o Observatório. Se você é da área de Computação, conheça o <a href="https://github.com/bispojr/observatorio-ufj-covid19" target="_blank">nosso repositório no GitHub</a>. Se você é um gestor, envie um email para nós (<strong>bispojr@ufg.br</strong>) informando as suas necessidades reais de informação. 
		</p>
		<p class="lead text-center">
			Quem sabe nós não podemos ajudá-lo?
		</p>
		<div class="container text-center">
			<a class="btn btn-primary" href="https://github.com/bispojr/observatorio-ufj-covid19" target="_blank">
				<span class="fab fa-github pr-1"></span> GitHub Repo
			</a>
			<a class="btn btn-primary" href="mailto:bispojr@ufg.br?subject=Observatório%20UFJ%20Covid-19">
				<span class="fas fa-envelope pr-1"></span> bispojr@ufg.br
			</a>
		</div>
	</div>
{% endblock %}