---
title: Observatório UFJ Covid-19 - Créditos
permalink: /creditos
layout: pagina
script: geral
grupo: geral
navbar: sobre
---
<div class="container pt-4 pl-5 pb-4 geral-bg">
	<h1>Créditos</h1>

	<h2>Framework CSS</h2>

	<p>
		<ul>
			<li><a href="https://getbootstrap.com">Bootstrap</a></li>	
		</ul>
		
	</p>

	<h2>Template do Rodapé</h2>

	<p>
		<ul>
			<li>Template do <a href="https://mdbootstrap.com/docs/jquery/navigation/footer/">MDBootstrap</a></li>	
			<li> Ícones do <a href="https://fontawesome.com/">FontAwesome</a></li>
		</ul>
		
	</p>

	<h2>Ícones</h2>

	<p>
		Ícones: <a href="https://www.flaticon.com/br/" title="Flaticon">Flaticon</a> (<a href="https://www.flaticon.com/br/autores/vitaly-gorbachev" title="Vitaly Gorbachev">Vitaly Gorbachev</a>, <a href="https://www.flaticon.com/br/autores/freepik" title="Freepik">Freepik</a>), <a href="https://iconscout.com">Iconscout</a> (<a href="https://iconscout.com/contributors/icon-mafia">Icon Mafia</a>)
	</p>
</div>