{% extends "base.html" %}

{% block content %}
    <div class="container pt-4 px-5 pb-4 geral-bg">
        <h1 class="pb-4">Na Mídia</h1>

        <p class="lead">
            O Observatório UFJ Covid-19 tem sido destaques em alguns meios de comunicação. Sempre que temos ciência de alguma nota na mídia, publicamos aqui para você poder conferir.
        </p>

        <div class="list-group">
            <a class="list-group-item list-group-item-action" 
            href="https://www.facebook.com/centrouniversitariodemineiros/videos/540776539966212/" target="_blank">
            <h3>
                <span class="badge badge-primary">#TodosContraoCorona</span> - 17/04/2020
            </h3>
            Programa 18 realizado pela Unifimes apresentando o Observatório UFJ Covid-19.
            </a>
            <a class="list-group-item list-group-item-action" 
            href="https://www.opopular.com.br/noticias/cidades/universidades-de-goi%C3%A1s-colocam-estrutura-e-conhecimento-na-luta-contra-o-coronav%C3%ADrus-1.2033181" target="_blank">
            <h3>
                <span class="badge badge-primary">Jornal O Popular</span> - 10/04/2020
            </h3>
            Universidades de Goiás colocam estrutura e conhecimento na luta contra o coronavírus 
            </a>
            <a class="list-group-item list-group-item-action" 
                href="https://www.adufg.org.br/noticias/2-noticias/502-ufj-produz-solucao-que-substitui-alcool-em-gel-e-cria-projeto-que-acompanha-em-tempo-real-dados-do-coronavirus" target="_blank">
                <h3>
                    <span class="badge badge-primary">Adufg Sindicato</span> - 03/04/2020
                </h3>
                UFJ produz solução que substitui álcool em gel e cria projeto que acompanha em tempo real dados do coronavírus 
            </a>
            <a class="list-group-item list-group-item-action" 
            href="https://portalufj.jatai.ufg.br/n/125753-curso-de-ciencia-da-computacao-cria-observatorio-ufj-covid-19" target="_blank">
            <h3>
                <span class="badge badge-primary">Portal UFJ</span> - 31/03/2020
            </h3>
            Curso de Ciência da Computação cria Observatório UFJ Covid-19 
        </a>
        </div>
    </div>
{% endblock %}