<!-- Footer -->
<footer class="page-footer font-small blue pt-4 mt-4" style="background-color: white; border-top: 0.3em solid #2780E3;">

  <!-- Footer Links -->
  <div class="container-fluid text-center text-md-left">

    <!-- Grid row -->
    <div class="row">

      <!-- Grid column -->
      <div class="col-md-4 mt-md-0 mt-3">

        <!-- Content -->
        <h5 class="text-uppercase">Observatório UFJ Covid-19</h5>
        Licença Creative Commons <a rel="license" href="http://creativecommons.org/licenses/by/4.0/"><img alt="Licença Creative Commons" style="border-width:0" src="https://i.creativecommons.org/l/by/4.0/80x15.png" /></a> <br>
        Redes Socias: <a href="https://www.instagram.com/computacaoufj/" class="fab fa-instagram" target="_blank"></a> | 
        <a href="https://www.facebook.com/deolhonocorona" class="fab fa-facebook-f" target="_blank"></a> |
        <a href="https://github.com/bispojr/observatorio-ufj-covid19" class="fab fa-github" target="_blank"></a>

      </div>
      <!-- Grid column -->

      <hr class="clearfix w-100 d-md-none pb-3">

      <!-- Grid column -->
      <div class="col-md-2 col-6 mb-md-0 mb-3">

        <!-- Links -->
        <h5 class="text-uppercase">Principal</h5>

        <ul class="list-unstyled">
          <li>
            <a href="{% url 'core:como-sao-criados' %}">Gráficos</a>
          </li>
          <!--<li>
            <a href="/tendencias/como-sao-criadas">Tendências</a>
          </li>
          <li>
            <a href="/noticias">Notícias</a>
          </li>-->
          <li>
            <a href="{% url 'core:sobre' %}">Sobre</a>
          </li>
        </ul>

      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-md-2 col-6 mb-md-0 mb-3">

        <!-- Links -->
        <h5 class="text-uppercase">Gráficos</h5>

        <ul class="list-unstyled">
          <li>
            <a href="{% url 'core:grafico' cidade="jatai" %}">Jataí</a>
          </li>
          <li>
            <a href="{% url 'core:grafico' cidade="mineiros" %}">Mineiros</a>
          </li>
          <li>
            <a href="{% url 'core:grafico' cidade="rioverde" %}">Rio Verde</a>
          </li>
          <li>
            <a href="{% url 'core:comparacao' %}">Comparação Contextual</a>
          </li>
          <li>
            <a href="{% url 'core:como-sao-criados' %}">Como são criados?</a>
          </li>
        </ul>

      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-md-2 col-6 mb-md-0 mb-3">

        <!-- Links -->
        <h5 class="text-uppercase">Tendências</h5>

        <ul class="list-unstyled">
          <li>
            <a href="{% url 'core:tendencias' cidade="jatai" %}">Jataí</a>
          </li>
          <!--<li>
            <a href="/tendencias/mineiros">Mineiros</a>
          </li>-->
          <li>
            <a href="{% url 'core:tendencias' cidade="rioverde" %}">Rio Verde</a>
          </li>
          <!--<li>
            <a href="/tendencias/como-sao-criadas">Como são criadas?</a>
          </li>-->
        </ul>

      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-md-2 col-6 mb-md-0 mb-3">

        <!-- Links -->
        <h5 class="text-uppercase">Saiba mais</h5>

        <ul class="list-unstyled">
          <li>
            <a href="/sobre">Sobre</a>
          </li>
          <li>
            <a href="/equipe">Equipe</a>
          </li>
          <li>
            <a href="/na-midia">Na mídia</a>
          </li>
          <li>
            <a href="/colabore">Colabore</a>
          </li>
          <!--<li>
            <a href="/creditos">Créditos</a>
          </li>-->
        </ul>

      </div>
      <!-- Grid column -->

    </div>
    <!-- Grid row -->

  </div>
  <!-- Footer Links -->

</footer>
<!-- Footer -->