<div class="container text-center">
	<!--<h1 class="display-4 text-center">Observatório <br>UFJ COVID-19</h1>-->
	
	<img 
		src="{{ site.baseurl }}/assets/images/logomarca-observatorio.svg" 
		width="100%" alt="Logomarca do Observatório UFJ Covid-19"
		style="background-color: rgba(0, 0, 0, 0.7);"
	>
	
	<p 
		class="lead text-center pb-2 pt-2 ml-5 mr-5" 
		style="background-color: rgba(0, 0, 0, 0.6); color: white; font-size: 2vw;"
	>
		Este <strong>observatório</strong> é uma iniciativa do <br>
		Bacharelado em Ciência da Computação (BCC) <br>
		da Universidade Federal de Jataí (UFJ).
	</p>
</div>



<!-- Banner 
				<section id="banner">
					<div class="inner">

						<header>
							<h2></h2>
						</header>
						<p>
							Este <strong>observatório</strong> é uma iniciativa do <br>
							Bacharelado em Ciência da Computação (BCC) <br>
							da Universidade Federal de Jataí (UFJ).
						</p>
						<footer>
							<ul class="buttons stacked">
								<li>
							</ul>
						</footer>

					</div>

				</section>-->