<!-- Banner -->
				<section id="banner">

					<!--
						".inner" is set up as an inline-block so it automatically expands
						in both directions to fit whatever's inside it. This means it won't
						automatically wrap lines, so be sure to use line breaks where
						appropriate (<br />).
					-->
					<div class="inner">

						<header>
							<h2>Observatório <br>UFJ COVID-19</h2>
						</header>
						<p>
							Este <strong>observatório</strong> é uma iniciativa do <br>
							Bacharelado em Ciência da Computação (BCC) <br>
							da Universidade Federal de Jataí (UFJ).
						</p>
						<footer>
							<ul class="buttons stacked">
								<li><a href="#main" class="button fit scrolly">Saiba mais...</a></li>
							</ul>
						</footer>

					</div>

				</section>