<div class="container graficos-bg p-5">
	
	<h1>Resumo: <strong>{{ include.cidade }}</strong></h1>
	

	<div class="row">
		<div class="col-lg-5 col-12">

			<img src="{{ site.baseurl }}/assets/images/mapa-{{ include.nome-base }}.svg" id="mapa-{{ include.nome-base }}" alt="Mapa da Cidade de {{ include.cidade }}"  style="width: 120%;" />
		</div>

		<div class="col-lg-7 col-12 px-5">

			<div class="grafico" id="{{ include.nome-base }}-grafico-resumo"></div>
		</div>
	</div>
	<div class="row pt-2 pt-lg-0">
		<span>
					Dados atualizados em <span id="data-atualizacao-{{ include.nome-base }}">30 de março de 2020</span>.<br>
					<strong>Fonte:</strong> <a href="{{ include.url-fonte }}" target="_blank">
						{{ include.nome-fonte }}
						</a>.
				</span>
	</div>
</div>