<head>
		<title>{{ page.title }}</title>
		<meta property="og:image" content="images/thumbnail.png" />
		<meta property="og:type" content="website" />
		<meta property="og:url" content="http://www.deolhonocorona.com" />
		<meta property="og:title" content="Observatório UFJ Covid-19" />
		<meta property="og:description" content="Este observatório é uma iniciativa do Bacharelado em Ciência da Computação (BCC) da Universidade Federal de Jataí (UFJ)." />

		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="assets/css/main.css" />
		<noscript><link rel="stylesheet" href="assets/css/noscript.css" /></noscript>

	    </script>
	</head>