<!-- Header -->
<header id="header" 
	class="
		{% if page.permalink == "/" %}
		  alt
		{% else %}
		  reveal
		{% endif %}
	"
>
	<h1 id="logo"><a href="/">{{ "Observatório" | downcase }}<span> UFJ Covid-19</span></a></h1>
	<nav id="nav">
		<ul>
			<li 
				class="
					{% if page.permalink == "/" %}
					  current
					{% endif %}
				"
			><a href="/">Principal</a></li>
			<li 
				class="
					{% if page.permalink == "/sobre" %}
					  current
					{% endif %}
				"
			><a href="/sobre">Sobre</a></li>
			<li 
				class="
					{% if page.permalink == "/graficos" %}
					  current
					{% endif %}
				"
			><a href="/graficos">Gráficos</a></li>
			<li 
				class="
					{% if page.permalink == "/noticias" %}
					  current
					{% endif %}
				"
			><a href="/noticias">Notícias</a></li>
			<li 
				class="
					{% if page.permalink == "/equipe" %}
					  current
					{% endif %}
				"
			><a href="/equipe">Equipe</a></li>
			<li 
				class="
					{% if page.permalink == "/colabore" %}
					  current
					{% endif %}
				"
			><a href="/colabore">Colabore</a></li>
		</ul>
	</nav>
</header>