<!-- Header -->
<header id="header" class="reveal">
	<h1 id="logo"><a href="index.html">{{ "Observatório" | downcase }}<span> UFJ Covid-19</span></a></h1>
	<nav id="nav">
		<ul>
			<li class="current"><a href="index.html">Principal</a></li>
			<li><a href="#main">Sobre</a></li>
			<li class="submenu">
				<a href="#">Gráficos</a>
				<ul>
					<li><a href="#grafico-jatai">Jataí</a></li>
					<li><a href="#grafico-mineiros">Mineiros</a></li>
				</ul>
			</li>
			<li><a href="#noticias">Notícias</a></li>
			<li><a href="#equipe">Equipe</a></li>
			<li><a href="#cta">Colabore</a></li>
		</ul>
	</nav>
</header>