<!-- Scripts -->

<script src="{{ site.baseurl }}/assets/js/jquery/jquery.min.js"></script>
<script src="{{ site.baseurl }}/assets/js/jquery/jquery.dropotron.min.js"></script>
<script src="{{ site.baseurl }}/assets/js/jquery/jquery.scrolly.min.js"></script>
<script src="{{ site.baseurl }}/assets/js/jquery/jquery.scrollex.min.js"></script>
<script src="{{ site.baseurl }}/assets/js/browser.min.js"></script>
<script src="{{ site.baseurl }}/assets/js/breakpoints.min.js"></script>
<script src="{{ site.baseurl }}/assets/js/util.js"></script>
<script src="{{ site.baseurl }}/assets/js/main.js"></script>

{% case page.script %}
  {% when "graficos-geral" %}
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script src="{{ site.baseurl }}/assets/js/graficos/buildChart.js"></script>
	<script src="{{ site.baseurl }}/assets/js/graficos/geral.js"></script>
  {% when "graficos-jatai" %}
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script src="{{ site.baseurl }}/assets/js/graficos/buildChart.js"></script>
	<script src="{{ site.baseurl }}/assets/js/graficos/jatai.js"></script>
  {% when "graficos-mineiros" %}
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script src="{{ site.baseurl }}/assets/js/graficos/buildChart.js"></script>
	 <script src="{{ site.baseurl }}/assets/js/graficos/mineiros.js"></script>
  {% when "graficos-rioverde" %}
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script src="{{ site.baseurl }}/assets/js/graficos/buildChart.js"></script>
    <script src="{{ site.baseurl }}/assets/js/graficos/rioverde.js"></script>
  {% when "noticias" %}
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script src="{{ site.baseurl }}/assets/js/noticias.js"></script>
{% endcase %}




