<!-- Scripts -->
<script
  src="https://code.jquery.com/jquery-3.4.1.min.js"
  integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
  crossorigin="anonymous"></script>
<script 
  src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" 
  integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" 
  crossorigin="anonymous">  
</script>
<script 
  src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" 
  integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" 
  crossorigin="anonymous">
</script>

{% case page.script %}
  {% when "graficos-geral" %}
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script src="{{ site.baseurl }}/assets/js/graficos/buildChart.js"></script>
	<script src="{{ site.baseurl }}/assets/js/graficos/geral.js"></script>
  {% when "graficos-jatai" %}
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script src="{{ site.baseurl }}/assets/js/graficos/buildChart.js"></script>
	<script src="{{ site.baseurl }}/assets/js/graficos/jatai.js"></script>
  {% when "graficos-mineiros" %}
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script src="{{ site.baseurl }}/assets/js/graficos/buildChart.js"></script>
	 <script src="{{ site.baseurl }}/assets/js/graficos/mineiros.js"></script>
  {% when "graficos-rioverde" %}
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script src="{{ site.baseurl }}/assets/js/graficos/buildChart.js"></script>
    <script src="{{ site.baseurl }}/assets/js/graficos/rioverde.js"></script>
  {% when "graficos-comparacao" %}
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script src="{{ site.baseurl }}/assets/js/graficos/buildChart.js"></script>
    <script src="{{ site.baseurl }}/assets/js/graficos/comparacao.js"></script>
  {% when "tendencias" %}
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script src="{{ site.baseurl }}/assets/js/tendencias/buildProjection.js"></script>
    <script src="{{ site.baseurl }}/assets/js/tendencias/geral.js"></script>
  {% when "noticias" %}
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script src="{{ site.baseurl }}/assets/js/noticias.js"></script>
  {% when "tendencias-jatai" %}
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script src="{{ site.baseurl }}/assets/js/tendencias/buildProjection.js"></script>
    <script src="{{ site.baseurl }}/assets/js/tendencias/jatai.js"></script>
  {% when "tendencias-rioverde" %}
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script src="{{ site.baseurl }}/assets/js/tendencias/buildProjection.js"></script>
    <script src="{{ site.baseurl }}/assets/js/tendencias/rioverde.js"></script>
  {% when "na-midia" %}
    <script src="{{ site.baseurl }}/assets/js/main.js"></script>
{% endcase %}




