<div class="container graficos-bg mb-2">
	<div class="row px-4 px-lg-0 justify-content-center">
		<div class="
			col-12
			col-xl-2 
			mb-lg-0 mx-lg-0 mb-2 mx-1
			text-center">
			<strong class="h1 py-0">{{ cidade }}</strong><br>
			<span>{{ cards.data }}</span>
		</div>
		{% for card in cards.valores %}
			<div 
				class="card-estatistico  mx-lg-2 my-lg-2 mb-lg-0	mx-2 mb-3" 
				style="background-color: {{ card.cor }};">
				<div class="row">
					<div class="col text-center d-inline">
						<i class="{{ card.icone }}" style="font-size: 30px;"></i>
						<div>
							{{ card.categoria }}
						</div>
					</div>
						{% if card.categoria == "Situação" %}
							<div class="col text-center d-inline" 
							style="font-size: 20px; margin-left: -35px; margin-top: 10px; 
							padding-right: 30px; padding-left: 30px;">
								{{ card.numero }}
							</div>
						{% elif card.categoria != "Var. (15d)" %}
							<div class="col text-center d-inline" style="font-size: 40px; margin-left: -35px; margin-top: -3px;">
								{{ card.numero }}
							</div>
						{% endif %}

						{% if card.categoria == "Var. (15d)" %}
							<div class="col text-center d-inline" 
							style="font-size: 30px; margin-left: -35px; margin-top: 5px; 
							padding-right: 30px; padding-left: 30px;">
								{{ card.numero }}
							</div>
						{% endif %}
				</div>
			</div>
		{% endfor %}
	</div>
</div>