---
title: Observatório UFJ Covid-19
---
<!DOCTYPE HTML>
<html>

	{% include head.html %}

	<body class="index is-preload">
		<div id="page-wrapper">

			{% include navbar.html %}
			{% include capa.html %}

			<!-- Main -->
				<article id="main">

					{% include sobre.html %}
					{% include graficos.html %}
					<!--{% include noticias.html %}-->
					{% include equipe.html %}

				</article>
			
			{% include colabore.html %}	
			{% include footer.html %}

		</div>

		{% include scripts.html %}

	</body>
</html>