---
title: Observatório UFJ Covid-19 - Gráficos (Mineiros)
permalink: /graficos/mineiros
grupo: graficos
navbar: graficos
script: graficos-mineiros
layout: pagina
---

{% include card-cidade.html 
	cidade 		= 	"Mineiros"
	data		= 	"08 de maio"
	conf-num	=	"10"
	rec-num		= 	"0"
	int-num		=	"1"
	obt-num		=	"0"
%}

{% include grafico-completo.html 
	cidade 		= 	"Mineiros"
	nome-base	= 	"mineiros"
	url-fonte	=	"http://mineiros.go.gov.br/covid-19.php"
	nome-fonte	= 	"Secretária de Saúde de Mineiros"
%}