{% load static %}
<div class="container text-center">
	<img 
		src="{% static  'images/logomarca-observatorio.svg' %}" 
		width="100%" alt="Logomarca do Observatório UFJ Covid-19"
		style="background-color: rgba(0, 0, 0, 0.7);"
	>
	<div 
		class="capa-text lead text-center pb-2 pl-2 pr-2 pt-2 ml-5 mr-5" 
		style="background-color: rgba(0, 0, 0, 0.6); color: white;"
	>
		Este <strong>observatório</strong> é uma iniciativa do <br>
		Bacharelado em Ciência da Computação (BCC) 
		da Universidade Federal de Jataí (UFJ).
	</div>
</div>