---
title: Observatório UFJ Covid-19 - Projeções (Rio Verde)
permalink: /graficos/rio-verde/
grupo: graficos
navbar: graficos
script: graficos-rioverde
layout: pagina
---

{% include card-cidade.html 
	cidade 		= 	"Rio Verde"
	data		= 	"22 de abril"
	conf-num	=	"13"
	rec-num		= 	"9"
	int-num		=	"1"
	obt-num		=	"1"
%}

{% include grafico-completo.html 
	cidade 		= 	"Rio Verde"
	nome-base	= 	"rioverde"
	url-fonte	=	"https://www.rioverde.go.gov.br/covid19/"
	nome-fonte	= 	"Secretária de Saúde de Rio Verde"
%}