.capa-text{
	font-size: 25px;
}

.geral-bg{
	background-color: rgb(255,255,255,0.9);
}

.graficos-bg{
	background-color: rgb(0,0,0,0.7);
	color: white;
}

.grafico{
	height: 90%; 
	width: 110%; 
	min-height: 300px;
	min-width: 300px; 
	max-width: 110%;
	max-height: 90%;" 
}

.grafico-mini{
	height: 80%; 
	width: 100%; 
	min-height: 300px;
	min-width: 300px; 
	max-width: 110%;
	max-height: 90%;
}