---
title: Observatório UFJ Covid-19 - Equipe
permalink: /equipe
script: geral
layout: pagina
---

<!-- Two -->
<header class="special container" id="equipe">
<span class="icon solid fa-users"></span>
<h2><strong>Equipe</strong> do Observatório</h2>
</header>

<section class="wrapper style1 container special">							

	<div class="row">
		<div class="col-4 col-12-narrower">

			{% include membro-equipe.html 
				nome 		= 	"Prof. Esdras L. Bispo Jr."
				short 		= 	"esdras"
				url			=	"http://lattes.cnpq.br/1022072289836952"
				plataforma	= 	"Lattes"
				content		= "Idealizador do Observatório. Pesquisador na área de Educação e Inteligência Artificial"
			%}

		</div>
		<div class="col-4 col-12-narrower">

			{% include membro-equipe.html 
				nome 		= 	"Profa. Joslaine Jeske"
				short 		= 	"joslaine"
				url			=	"http://lattes.cnpq.br/2394348610492496"
				plataforma	= 	"Lattes"
				content		= "Responsável pelos dados da cidade de Rio Verde. Pesquisadora na área de Inteligência Artificial."
			%}

		</div>

		<div class="col-4 col-12-narrower">

			{% include membro-equipe.html 
				nome 		= 	"Profa. Franciny Medeiros"
				short 		= 	"franciny"
				url			=	"http://lattes.cnpq.br/2821748091466181"
				plataforma	= 	"Lattes"
				content		= 	"Responsável pelos dados da cidade de Jataí e pela comunicação. Pesquisadora na área de Engenharia de Software."
			%}

		</div>
	</div>
	<div class="row">
		<div class="col-4 col-12-narrower">

			{% include membro-equipe.html 
				nome 		= 	"Prof. Márcio Lopes"
				short 		= 	"marcio"
				url			=	"http://lattes.cnpq.br/8846703586256426"
				plataforma	= 	"Lattes"
				content		= 	"Responsável pelos dados da cidade de Mineiros. Pesquisador na área de Computação em Névoa."
			%}

		</div>

		<div class="col-4 col-12-narrower">

			{% include membro-equipe.html 
				nome 		= 	"Prof. Marcelo Freitas"
				short 		= 	"marcelo"
				url			=	"http://lattes.cnpq.br/0972390630476077"
				plataforma	= 	"Lattes"
				content		= 	"Responsável pelas notícias dos avanços científicos em relação ao Covid-19. Pesquisa sobre Sistemas Operacionais."
			%}

		</div>

		<div class="col-4 col-12-narrower">

			{% include membro-equipe.html 
				nome 		= 	"Prof. Zaqueu Souza"
				short 		= 	"zaqueu"
				url			=	"http://lattes.cnpq.br/8132493439297747"
				plataforma	= 	"Lattes"
				content		= 	"Responsável pelos dados da cidade de Mineiros. Professor de Engenharia Ambiental e Sanitária na Unifimes."
			%}

		</div>
	</div>
	<div class="row">

		<div class="col-4 col-12-narrower">

			{% include membro-equipe.html 
				nome 		= 	"Profa. Edlaine Vilela"
				short 		= 	"edlaine"
				url			=	"http://lattes.cnpq.br/8767578610764666"
				plataforma	= 	"Lattes"
				content		= 	"Consultora sobre questões epidemiológicas. Professora de Medicina na UFJ."
			%}

		</div>
	
		<div class="col-4 col-12-narrower">

			{% include membro-equipe.html 
				nome 		= 	"Diego Barbosa"
				short 		= 	"diego"
				url			=	"https://www.linkedin.com/in/diegocostacmp/"
				plataforma	= 	"LinkedIn"
				content		= 	"Colaborador no desenvolvimento da página. Analista Programador na Unimed na cidade de Rio Verde."
			%}

		</div>

		<div class="col-4 col-12-narrower">

			{% include membro-equipe.html 
				nome 		= 	"Felipe Nedopetalski"
				short 		= 	"felipe"
				url			=	"https://www.linkedin.com/in/felipe-nedopetalski-91b93b154/"
				plataforma	= 	"LinkedIn"
				content		= 	"Colaborador no desenvolvimento da página. Graduando em Ciências da Computação na Universidade Federal de Jataí (UFJ)."
			%}

		</div>
	</div>
	<div class="row">
		
		<div class="col-4 col-12-narrower">

			{% include membro-equipe.html 
				nome 		= 	"Gabriel Santos"
				short 		= 	"gabriel"
				url			=	"https://www.linkedin.com/in/dev-gabriel-santos/"
				plataforma	= 	"LinkedIn"
				content		= 	"Colaborador no desenvolvimento da página. Graduando em Ciências da Computação na Universidade Federal de Jataí (UFJ)."
			%}

		</div>
	</div>
</section>

<header class="special container">
<span class="icon solid fa-handshake"></span>
<h2><strong>Parceiros</strong> do Observatório</h2>
</header>

<section class="wrapper style1 container special">							

	<div class="row">
		<div class="col-4 col-12-narrower">

			{% include membro-equipe.html 
				nome 		= 	"#TodosContraoCorona"
				short 		= 	"todoscontraocorona"
				url			=	"https://www.facebook.com/centrouniversitariodemineiros"
				plataforma	= 	"Facebook"
				content		= "Projeto de conscientização diária em relação ao combate ao Covid-19 promovido pelo Centro Universitário de Mineiros (Unifimes)."
			%}

		</div>
	</div>
</section>