---
title: Observatório UFJ Covid-19 - Equipe
permalink: /equipe
layout: pagina
---

<!-- Two -->
<header class="special container" id="equipe">
<span class="icon solid fa-chart-bar"></span>
<h2><strong>Equipe</strong> do Observatório</h2>
</header>

<section class="wrapper style1 container special">							

	<div class="row">
		<div class="col-4 col-12-narrower">

			{% include membro-equipe.html 
				nome 	= 	"Prof. Esdras L. Bispo Jr."
				short 	= 	"esdras"
				lattes	= 	"http://lattes.cnpq.br/1022072289836952"
				content	= "Idealizador do Observatório. Pesquisador na área de Educação e Inteligência Artificial"
			%}

		</div>
		<div class="col-4 col-12-narrower">

			{% include membro-equipe.html 
				nome 	= 	"Profa. Joslaine Jeske"
				short 	= 	"joslaine"
				lattes	= 	"http://lattes.cnpq.br/2394348610492496"
				content	= "Responsável pelos dados da cidade de Rio Verde. Pesquisadora na área de Inteligência Artificial."
			%}

		</div>

		<div class="col-4 col-12-narrower">

			{% include membro-equipe.html 
				nome 	= 	"Profa. Franciny Medeiros"
				short 	= 	"franciny"
				lattes	= 	"http://lattes.cnpq.br/2821748091466181"
				content	= 	"Responsável pelos dados da cidade de Jataí e pela comunicação. Pesquisadora na área de Engenharia de Software."
			%}

		</div>
	</div>
	<div class="row">
		<div class="col-4 col-12-narrower">

			{% include membro-equipe.html 
				nome 	= 	"Prof. Márcio Lopes"
				short 	= 	"marcio"
				lattes	= 	"http://lattes.cnpq.br/8846703586256426"
				content	= 	"Responsável pelos dados da cidade de Mineiros. Pesquisador na área de Computação em Névoa."
			%}

		</div>

		<div class="col-4 col-12-narrower">

			{% include membro-equipe.html 
				nome 	= 	"Prof. Marcelo Freitas"
				short 	= 	"marcelo"
				lattes	= 	"http://lattes.cnpq.br/0972390630476077"
				content	= 	"Responsável pelas notícias dos avanços científicos em relação ao Covid-19. Pesquisa sobre Sistemas Operacionais."
			%}

		</div>

		<div class="col-4 col-12-narrower">

			{% include membro-equipe.html 
				nome 	= 	"Prof. Zaqueu Souza"
				short 	= 	"zaqueu"
				lattes	= 	"http://lattes.cnpq.br/8132493439297747"
				content	= 	"esponsável pelos dados da cidade de Mineiros. Professor de Engenharia Ambiental e Sanitária na Unifimes."
			%}

		</div>
	</div>
</section>