{% load static %}
<div class="container graficos-bg pb-3 p-md-5">
	<div class="row">
		<div class="col-lg-5 col-12">
			<img 
				class="mt-n3"
				src="{% static 'images/mapas/' %}{{ nome_base }}.svg" 
				id="mapa-{{ nome_base }}" 
				alt="Mapa da Cidade de {{  cidade }}"  
				style="width: 100%;" 
			/>
		</div>
		<div class="col-lg-7 col-12">
			<div class="grafico" id="{{ nome_base }}-grafico-resumo"></div>
		</div>
	</div>
	<div class="row pt-3 pt-lg-0">
		<div class="col-lg-5">
			<span>
				Dados atualizados em <span id="data-atualizacao-{{ nome_base }}">30 de março de 2020</span>.<br>
				<strong>Fonte:</strong> <a href="{{ url_fonte }}" target="_blank">
					{{ nome_fonte }}
					</a>.
			</span>
		</div>
	</div>
</div>